<div>
    <h1>Shortener Statistics</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Short</th>
                <th scope="col">Original</th>
                <th scope="col">Clicks</th>
            </tr>
        </thead>
        <tbody *ngFor="let url of urlsList">
            <tr>
                <th scope="row">{{url.id}}</th>
                <td>{{ url.short_url}}</td>
                <td>{{ url.original_url}}</td>
                <td>{{ url.clicks }}</td>
            </tr>
        </tbody>
    </table>

</div>